
@{
    ViewData["Title"] = "Products";
}
@model ReportGenerate.Models.Models.Product
<style>
    table tr th {
        color: #688a7e;
    }
    .dataTables_paginate.paging_bootstrap.pagination li {
    float: left;
    margin: 0 1px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

    .dataTable tr:last-child {
        border-bottom: 1px solid #ddd;
    }

    .required{
        color:red;
    }
</style>
<div class="container">
    <div class="col-md-12 border p-3">
        <div class="text-center">
            <h1 class="text-decoration-underline text-primary">Add Products</h1>
        </div>
        <div class="clearfix"></div>
        <form method="POST" id="productForm">
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-1">
                        <label asp-for="Name"></label><span class="required">*</span>
                    </div>
                    <div class="col-md-4">
                        <input id="name" asp-for="Name" class="form-control" />
                    </div>
                    <div class="col-md-1">
                        <label asp-for="Price"></label><span class="required">*</span>
                    </div>
                    <div class="col-md-4">
                        <input id="price" asp-for="Price" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <button onclick="SaveProduct()" type="button" class="btn">
                            <i class="fa-solid fa-circle-plus text-primary"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="mt-5">
    <table id="ProducDT" class="table table-striped table-bordered">
        <thead>
            <tr class="text-center">
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        GetProductList();
    });

        function SaveProduct(){
            var data = new FormData();
            var formData = $('#productForm').serializeArray();
            $.each(formData, function (key, input) {
                data.append(input.name, input.value);
            });
            if (formData[0].value && formData[1].value != ""){
                $.ajax({
                    url: "/Product/UpsertProduct",
                    dataType: "json",
                    processData: false, 
                    cache: false,
                    contentType: false,
                    type: "POST",
                    data: data,
                    success: function (response) {
                        if (response.result == "Product Added") {
                            Alertify(response.result, 'success');
                            GetProductList();
                            ClearInputFields();
                        }
                        else {
                            Alertify(response.result, 'primary');
                            GetProductList();
                            ClearInputFields();
                        }
                    },
                    error: function (err) {
                        Alertify('Failed to load data!', 'danger');
                    }
                });
            }
            else{
                Alertify('Please fill the required field!', 'danger');
            }
        }

        function ClearInputFields(){
            $('#name').val('');
            $('#price').val('');
        }
        function GetProductList() {
            $('#ProducDT').DataTable({
                paging: true,
                searching: true,
                destroy: true,
                ajax: {
                    url: "Product/GetProductList/",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization");
                    },
                    dataSrc: 'products'
                },
                columns: [
                    { data: 'name' },
                    { data: 'price' },
                    {
                        "render": function (data, type, meta) {
                                return "<button class='CompanyEdit btn btn-success btn-sm' type='button' style='padding:0px 3px; height:22px' data-id='" + meta.id + "'><i class='fa fa-pencil-square' aria-hidden='true'></i></button>";
                        }
                    }
                ]
            });
        }
</script>
}

